USE [ShopManagementDB]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellDetails]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellDetails](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_id] [smallint] NOT NULL,
	[sell_id] [int] NOT NULL,
	[entered_by] [smallint] NOT NULL,
	[quantity] [int] NOT NULL,
	[cost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_SellDetails] PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sells]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sells](
	[sell_id] [int] IDENTITY(1,1) NOT NULL,
	[total_price] [decimal](11, 2) NOT NULL,
	[pay_date] [date] NOT NULL,
	[done_by] [smallint] NOT NULL,
 CONSTRAINT [PK__Sells__95E458BA34914FC4] PRIMARY KEY CLUSTERED 
(
	[sell_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[total_sells] [decimal](11, 2) NOT NULL,
	[total_served] [int] NOT NULL,
	[total_users] [smallint] NOT NULL,
	[total_stocks] [smallint] NOT NULL,
	[state_id] [tinyint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[stock_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[cost] [decimal](11, 2) NOT NULL,
	[price] [decimal](8, 2) NOT NULL,
	[amount] [int] NOT NULL,
	[added_by] [smallint] NOT NULL,
 CONSTRAINT [PK__Stocks__E8666862DB79953A] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stocks_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [smallint] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](30) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[permissions] [tinyint] NOT NULL,
	[is_active] [bit] NOT NULL,
	[added_by] [smallint] NULL,
 CONSTRAINT [PK__Users__B9BE370F869B9954] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Users_UserName] UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [df_states_totalsells]  DEFAULT ((0.00)) FOR [total_sells]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [df_states_totalserveds]  DEFAULT ((0)) FOR [total_served]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [df_states_totalusers]  DEFAULT ((0)) FOR [total_users]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [df_states_totalstocks]  DEFAULT ((0)) FOR [total_stocks]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_Users_Permissions]  DEFAULT ((1)) FOR [permissions]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__is_active__2739D489]  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[SellDetails]  WITH CHECK ADD  CONSTRAINT [FK_SellDetails_Sells] FOREIGN KEY([sell_id])
REFERENCES [dbo].[Sells] ([sell_id])
GO
ALTER TABLE [dbo].[SellDetails] CHECK CONSTRAINT [FK_SellDetails_Sells]
GO
ALTER TABLE [dbo].[SellDetails]  WITH CHECK ADD  CONSTRAINT [FK_SellDetails_Stocks] FOREIGN KEY([stock_id])
REFERENCES [dbo].[Stocks] ([stock_id])
GO
ALTER TABLE [dbo].[SellDetails] CHECK CONSTRAINT [FK_SellDetails_Stocks]
GO
ALTER TABLE [dbo].[Sells]  WITH CHECK ADD  CONSTRAINT [FK_Sells_Users] FOREIGN KEY([done_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Sells] CHECK CONSTRAINT [FK_Sells_Users]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [fk_stocks_added_by] FOREIGN KEY([added_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [fk_stocks_added_by]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_addedby] FOREIGN KEY([added_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_addedby]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_Users_Permissions] FOREIGN KEY([permissions])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_Users_Permissions]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewItemToBuyerList]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddNewItemToBuyerList]
    @StockID SMALLINT,
    @SaleID INT,
    @EnteredByID SMALLINT,
    @Amount INT,
    @TotalCost DECIMAL(11,2)
AS
BEGIN

    IF NOT EXISTS
    (
        SELECT 1
        FROM Users
        WHERE user_id = @EnteredByID
    )
        THROW 50010, 'Entered By Is Not Found', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Sells
        WHERE sell_id = @SaleID
    )
        THROW 50020, 'Sale Info Is Not Found', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Stocks
        WHERE stock_id = @StockID
    )
        THROW 50018, 'Stock Is Not Found', 1;

    IF EXISTS
    (
        SELECT 1
        FROM SellDetails
        WHERE stock_id = @StockID
          AND sell_id = @SaleID
    )
        THROW 50021, 'The Buyer List Contains This Stock', 1;

    IF @TotalCost <= 0
        THROW 50022, 'Invalid Cost', 1;

    IF @Amount <= 0
        THROW 50017, 'Invalid Amount', 1;

    IF @Amount >
    (
        SELECT amount
        FROM Stocks
        WHERE stock_id = @StockID
    )
        THROW 50019, 'Amount Is Bigger Than What We Have', 1;

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO SellDetails
        (
            stock_id,
            sell_id,
            entered_by,
            quantity,
            cost
        )
        VALUES
        (
            @StockID,
            @SaleID,
            @EnteredByID,
            @Amount,
            @TotalCost
        );

        DECLARE @DetailID INT = SCOPE_IDENTITY();

        UPDATE Sells
        SET total_price = total_price + @TotalCost
        WHERE sell_id = @SaleID;

        UPDATE Stocks
        SET amount = amount - @Amount
        WHERE stock_id = @StockID;

        COMMIT TRANSACTION;

        RETURN @DetailID;

    END TRY
    BEGIN CATCH

              IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewSale]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddNewSale]
    @BuyerList BuyerList READONLY,
    @TotalCost DECIMAL(11,2),
    @EnteredByID SMALLINt,
	@PayDate DATE
AS
BEGIN
  
  if not exists (select top 1 1 from Users where Users.user_id = @EnteredByID)
   throw 50010,'Entered By Is Not Found',1;

  if @TotalCost < 0
  throw 50012,'Invalid Cost',1;

 
  if (select Count(*) from @BuyerList) =0
  throw 50013,'Empty List',1;

    BEGIN TRY
	 begin transaction 
	
	insert into Sells values (@TotalCost,@PayDate,@EnteredByID);

	declare @SellID int ;
	set @SellID = SCOPE_IDENTITY();

	INSERT INTO SellDetails
(
    stock_id,
	sell_id,
	entered_by,
    quantity,
    cost
)
SELECT
    stock_id,
	@SellID,
	@EnteredByID,
    amount,
    total_cost
FROM @BuyerList;

UPDATE S
SET S.amount = S.amount - B.amount
FROM Stocks S
INNER JOIN @BuyerList B
    ON S.stock_id = B.stock_id;
        
		declare @Count smallint ;
		set @Count = 1;

	 
		commit transaction ;

		return @SellID;

    END TRY
    BEGIN CATCH
          IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

		if Error_number() = 547
		throw 50014,'One Of Stocks Is Not Found',1;

		throw
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewStock]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewStock] @Name varchar(20), @Cost decimal(11,2)
,@Price decimal(8,2),@Amount int , @AddedBy smallint
as 
begin

if not exists(select top 1 1 from Users where Users.user_id = @AddedBy) 
throw 50010,'Added By is not found',1;

if exists (select top 1 1 from Stocks where name = @Name)
throw 50011,'Stock Name Is Used',1;

exec sp_StocksDataChecker @Name,@Cost,@Price,@Amount;

insert into Stocks values (@Name,@Cost,@Price,@Amount,@AddedBy);

return Scope_Identity();

end 
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewUser]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewUser] @UserName varchar(30), @Password varchar(64) , @Permissions tinyint,@IsActive bit,@AddedBy smallint
as 
begin

exec sp_UserDataChecker @UserName,@Password,@Permissions;

if not exists(select top 1 1 from Users Where user_id = @AddedBy)
throw 50003,'Creator ID Not Found',1;

if exists (select top 1 1 from Users Where user_name = @UserName)
throw 50002,'User Name Is Used',1;

INSERT INTO Users values(@UserName,@Password,@Permissions,@IsActive,@AddedBy);
return scope_Identity();
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSaleBySaleID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSaleBySaleID]
    @SaleID int
AS
BEGIN

    IF NOT EXISTS (
        SELECT 1
        FROM Sells
        WHERE sell_id = @SaleID
    )
        THROW 50023, 'Sale Info Is Not Found', 1;

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE S
        SET S.amount = S.amount + SD.quantity
        FROM Stocks S
        INNER JOIN SellDetails SD
            ON S.stock_id = SD.stock_id
        WHERE SD.sell_id = @SaleID;

        DELETE FROM SellDetails
        WHERE sell_id = @SaleID;

        DELETE FROM Sells
        WHERE sell_id = @SaleID;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSaleDetailByDetailID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteSaleDetailByDetailID] @SaleDetailID int
as 
begin 

if not exists (select top 1 1 from SellDetails where detail_id = @SaleDetailID)
throw 50016, 'This Detail Was Not Found', 1;

begin try
begin transaction;

declare @Cost decimal(11,2),@StockID smallint,@Amount int,@SaleID int;

select @Cost = cost, @StockID = stock_id
,@SaleID=sell_id,@Amount = quantity from
SellDetails where detail_id=@SaleDetailID;

update Stocks set amount = amount + @Amount where stock_id = @StockID;

update Sells set total_price = total_price - @Cost where sell_id = @SaleID;

delete from SellDetails where detail_id = @SaleDetailID;

commit transaction;

end try
begin catch
  IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
			
throw;
end catch 




end 
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStockByStockID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteStockByStockID] @StockID smallint
as 
begin
 

delete from Stocks where Stocks.stock_id = @StockID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUserByUserID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteUserByUserID] @UserID smallint as
begin

delete from Users where user_id = @UserID;

declare @Affected Int;
set @Affected = @@ROWCOUNT;

if @Affected > 0
begin
update States set total_users =  total_users - @Affected;
return 1;
end 

return 0;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStocks]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllStocks]
as 
begin
select * from Stocks;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUsers]
as 
begin
SELECT * FROM Users;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesDetailsBySaleID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetSalesDetailsBySaleID] @SaleID int
as 
begin
select SellDetails.*,Stocks.name as stock_name,Users.user_name from SellDetails
inner join Stocks on Stocks.stock_id = SellDetails.stock_id Inner join
Users On Users.user_id = SellDetails.entered_by where SellDetails.sell_id = @SaleID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellBySellID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetSellBySellID] @SellID int
as 
begin
select Sells.sell_id,Sells.pay_date,Sells.total_price,Users.user_name,Sells.done_by 
from Sells INNER JOIN Users ON Users.user_id= Sells.done_by where sell_id = @SellID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSellsPaged]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetSellsPaged] @PageNumber smallint ,@RowsPerPage smallint
as 
begin
select Sells.sell_id,Sells.pay_date,Sells.total_price,Users.user_name,Sells.done_by 
from Sells INNER JOIN Users ON Users.user_id = Sells.done_by
ORDER BY sell_id
OFFSET  @RowsPerPage* (@PageNumber -1) ROWS
FETCH NEXT @RowsPerPage ROWS ONLY;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStates]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStates]
AS
BEGIN
   WITH UsersNumber AS
    (
        SELECT COUNT(*) AS total_users
        FROM Users
    ),
    TotalServed AS
    (
        SELECT COUNT(*) AS total_served
        FROM Sells
    ),
    StocksNumber AS
    (
        SELECT COUNT(*) AS total_stocks
        FROM Stocks
    ),
    TotalSells AS
    (
        SELECT 
             SUM(total_price) AS total_sales
        FROM Sells
        WHERE 
            pay_date >= DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1)
            AND pay_date < DATEADD(MONTH, 1, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1))
    )
     SELECT
        UsersNumber.total_users,
        TotalServed.total_served,
        StocksNumber.total_stocks,
        ISNULL(TotalSells.total_sales, 0.00) AS total_sales
    FROM UsersNumber
    CROSS JOIN TotalServed
    CROSS JOIN StocksNumber
    CROSS JOIN TotalSells;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStockByID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetStockByID] @StockID smallint 
as 
begin
select Stocks.name,Stocks.amount,Stocks.cost,Stocks.price,Stocks.added_by
From Stocks
where Stocks.stock_id = @StockID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStockByName]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetStockByName] @Name varchar(20)
as 
begin
select stock_id,amount,price,cost,added_by from Stocks where name = @Name;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStockIDAndPriceByName]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetStockIDAndPriceByName] @StockName varchar(20)
as 
begin 
select stock_id,price from Stocks where name = @StockName;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStocksPaged]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetStocksPaged] @PageNumber smallint,@RowsPerPage smallint
as 
begin
select * from Stocks ORDER BY name
OFFSET  @RowsPerPage* (@PageNumber -1) ROWS
FETCH NEXT @RowsPerPage ROWS ONLY;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUserID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserByUserID] @UserID smallint
as 
begin
select * from Users WHERE user_id = @UserID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsUserExists]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_IsUserExists] @UserID smallint
as 
begin
if(Exists(select top 1 1 from Users where user_id=@UserID))
begin
return 1;
end 
else 
begin
return 0;
end 

end 
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsingUserNameAndPassword]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_LoginUsingUserNameAndPassword] @UserName varchar(30),
@Password varchar(64)
as 
begin
Select Users.user_id,Users.permissions,Users.is_active,added_by  From Users where Users.user_name = @UserName and password = @Password and is_active = 1
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_StocksDataChecker]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_StocksDataChecker]  @Name varchar(20), @Cost decimal(11,2)
,@Price decimal(8,2),@Amount int
as
begin
if @Name in (null,'')
throw 50006,'Empty Stock Name',1;
else if @Cost < 0
throw 50007 ,'Invalid Cost Value',1;
else if @Price < 0
throw 50008,'Invalid Price Value',1;
else if @Amount < 0
throw 50009,'Invalid Amount Value',1;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateQuantity]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateQuantity]
    @SaleDetailID INT,
    @Amount INT,
    @StockID SMALLINT,
    @SaleID INT
AS
BEGIN

    IF NOT EXISTS
    (
        SELECT 1
        FROM SellDetails
        WHERE detail_id = @SaleDetailID
    )
        THROW 50016, 'This Detail Was Not Found', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Stocks
        WHERE stock_id = @StockID
    )
        THROW 50018, 'The Stock Was Not Found', 1;

    IF @Amount <= 0
        THROW 50017, 'Invalid Amount', 1;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @OldAmount INT,
            @OldCost DECIMAL(11,2),
            @NewCost DECIMAL(11,2),
            @Price DECIMAL(11,2),
            @StockAmount INT;

        SELECT
            @OldAmount = quantity,
            @OldCost = cost
        FROM SellDetails
        WHERE detail_id = @SaleDetailID
          AND sell_id = @SaleID;

        -- Get stock information
        SELECT
            @Price = price,
            @StockAmount = amount
        FROM Stocks
        WHERE stock_id = @StockID;

      
        IF @Amount > @OldAmount
           AND (@Amount - @OldAmount) > @StockAmount
            THROW 50019, 'Amount Is Bigger Than What We Have', 1;

       
        SET @NewCost = @Amount * @Price;

      
        UPDATE SellDetails
        SET
            quantity = @Amount,
            cost = @NewCost
        WHERE detail_id = @SaleDetailID;

       
        UPDATE Sells
        SET total_price = total_price - @OldCost + @NewCost
        WHERE sell_id = @SaleID;

      
        UPDATE Stocks
        SET amount = amount + @OldAmount - @Amount
        WHERE stock_id = @StockID;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStockByID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateStockByID] @StockID smallint,@Name varchar(20), @Cost decimal(11,2)
,@Price decimal(8,2),@Amount int
as 
begin


if exists (select top 1 1 from Stocks where name = @Name and  stock_id != @StockID)
throw 50011,'Stock Name Is Used',1;

exec sp_StocksDataChecker @Name,@Cost,@Price,@Amount;

update Stocks set name = @Name,cost=@Cost,price=@Price,amount = @Amount where stock_id = @StockID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserByUserID]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateUserByUserID] @UserID smallint , @UserName varchar(30), @Password varchar(64) , @Permissions int,@IsActive bit
as 
begin

exec sp_UserDataChecker @UserName,@Password,@Permissions;

if exists(select top 1 1 from Users Where user_name = @UserName and user_id != @UserID)
throw 50002,'UserName Is Used',1;

Update Users set user_name = @UserName ,password = @Password,permissions=  @Permissions,is_active =@IsActive where user_id = @UserID;
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_UserDataChecker]    Script Date: 8/20/2026 3:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserDataChecker] 
@UserName varchar(30), @Password varchar(64) , @Permissions tinyint
AS
BEGIN
 if @Password is null or @Password = ''
throw 50004,'Empty Password Is Not Valid',1;
else if @UserName  is null or @UserName = ''
throw 50005,'Empty User Name Is Not Valid',1;
else if not exists(select top 1 1 from Roles where role_id = @Permissions)
throw 50001,'Invalid Role',1;
end
GO
